* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  box-sizing: border-box;
}

:root {
  --background-blue: #15317a;
  --background-white: #ffffff;
  --text-green: #16bb13;
  --text-red: #f5112b;
  --text-blue: #213960;
  --grey-background: rgba(134, 146, 166, 0.38);
  --text-black: #000;
  --text-white: #fff;
  --text-gray: #a0aec0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dashboard-container {
  background: #E7EDF4;
  min-height: 100vh;
}

ul li,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Manrope;
}


a {
  text-decoration: none;
}

.navigation li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  transition: .7s;
}

.navigation li:hover svg path {
  stroke: var(--text-gray)
}

.navigation li:hover {
  transform: translateX(10px);
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-div-modal.edit {
  left: -180px;
}

th {
  text-align: initial;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: inherit;
  font-family: 'Manrope';

}

.action__div {
  display: flex;
  gap: 12px;
  padding: 10px 0;
}

option,
select {
  font-family: 'Manrope' !important;
}

.dashboard-container {
  position: relative;
}

.dashboard-container .sidebar {
  background: var(--background-blue);

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 50px 20px;
}

.dashboard-container .content {
  margin-left: 300px;
}

.dashboard-container .header {
  background: var(--background-white);
}

.dashboard-container header {
  position: fixed;
  top: 0px;
  background-color: var(--background-white);
  width: -webkit-fill-available;
  height: 90px;
  z-index: 100000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.contents {
  display: block !important;
}

.dashboard-container .contents {
  background: var(--grey-background);
  z-index: 1;

  position: fixed;
  left: 300px;
  right: 0;
  bottom: 0;
  top: 30px;
  overflow-y: scroll;
  padding: 102px 50px;
}

h1 {
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

p {
  font-family: Manrope;
}

.sidebar .navigation ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 53px;
}

.sidebar .navigation a {
  color: var(--text-white);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header button {
  background: none;
  outline: none;
  border: none;
}

.header-profile.flex-between {
  column-gap: 20px;
}

.header-profile img {
  border-radius: 50%;
}

.user-profile h6 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.user-profile a {
  color: var(--text-gray);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.user-profile .flex-between {
  column-gap: 10px;
  position: relative;
}

.user-profile .flex-between div {
  position: absolute;

  content: "";
  width: 2px;
  height: 10px;
  background: var(--text-gray);
  top: 10;
  left: 53%;
}

.proposal-container {
  background: var(--background-white);
  /* padding: 3rem; */
  width: 100%;
  padding: 1.2rem 2rem;
  border-radius: 10px;
  backdrop-filter: blur(60px);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.proposal-flex.flex-between {
  column-gap: 3rem;
}

.flex-between.proposal-number {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: initial;
}

.proposal-container .flex-between {
  justify-content: flex-start;
  column-gap: 1rem;
}

#proposal-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: normal;
}

#create-proposal {
  border-radius: 5px;
  width: 202px;
  height: 50px;
  background: var(--background-blue);

  color: var(--text-white);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 200% */
}

#file-btn {
  display: flex;
  flex-direction: column;

  background: none;
  outline: none;
  border: none;
}

.row-one-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.all-proposal-form {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

#usersTable {
  padding-top: 1rem
}

.proposal-container .flex-between h3:nth-child(2) {
  color: var(--text-green);
}

#mobile-title {
  display: none;
}

.feedback-container {
  margin-top: 25px;
  border-radius: 20px;
  background: var(--background-white);
  backdrop-filter: blur(60px);
  /* padding: 1.2rem 2rem; */
  padding: 25px;
  overflow-x: auto;

  padding: 2rem;
}

.feedback-container .feedback {
  display: flex;
  justify-content: space-between;
}

.feedback-container .feedback button {
  cursor: pointer;
  border-radius: 100px;
  background: var(--text-blue);
  width: 129px;
  height: 40px;
  color: var(--text-white);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;/
}

.feedback-title h4 {
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: var(--text-blue);
}

.feedback-title h5 {
  color: var(--text-black);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.feedback-flex {
  display: flex;
  justify-content: space-between;
}

.feedback-container .feedback {
  margin-bottom: 1rem;
}

.feed-back-users {
  border-bottom: 1px solid var(--grey-background);
  border-top: 1px solid var(--grey-background);
  padding: 2rem 0;
}

.users-number span {
  color: var(--text-black);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 166.667% */
}

.feedback-flex .users {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.feed-back-users p {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-black);
}

.feed-back-users .users h5 {
  color: var(--text-black);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.feed-back-users h6 {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Sans;
  color: var(--text-black);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 250% */
}






/* LOGIN */

.login-container {
  background: #3DDEED;
  height: 100vh;
}


.flex-between-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: center;

}

.login-container .login-form-container {
  background: var(--background-white);
  height: 100vh;
}

.login-container .logo-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--background-white);
}

.login-form-container h2 {
  color: var(--text-blue);
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login-form-container p {
  color: var(--text-gray);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;


}

.input-div {
  display: flex;
  flex-direction: column;
  width: 426px;
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 2rem;
}

.login-form-container input[type="text"],
.login-form-container input[type="password"],
.login-form-container input[type="email"],
.login-form-container input[type="number"] {
  height: 64px;
  padding-left: 2rem;
  border-radius: 6px;
  border: 1px solid var(--text-gray);
}

.login-form-container h2 {
  margin-bottom: .8rem;
}

.login-form-container label {
  font-family: 'Manrope';
  color: #696F79;
  font-size: 16px;
  margin-bottom: .6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login-form-container ::placeholder {
  color: #8692A6;
  font-family: 'Manrope';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input-div.input-div-flex {
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.input-div.input-div-flex label {
  margin: 0;
}

.input-div button {
  height: 64px;
  border-radius: 6px;
  background: var(--background-blue);
  color: var(--text-white);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  outline: none;
  border: none;
}

.login-form-container a {
  color: var(--text-gray);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1rem;
  display: block;
}

.input-div.password {
  position: relative;
}

.login-form-container .show-password {
  position: absolute;
  right: 18px;
  top: 54px;


}

.login-form-container .show-password button {
  background: none;
  outline: none;

  color: var(--text-blue);
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: auto;
}

.input-div span {
  color: var(--text-red);
  font-family: 'Inter';
  display: block;
  margin-top: 7px;
}











/* ALL USERS TABLE */

.contents.all-users-table form input {
  width: 577px;
  height: 57px;
  border-radius: 8px;
  background: var(--background-white);

  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--text-gray);
  border: none;
  caret-color: var(--text-red);
  padding-left: 50px;
}

.contents.all-users-table form input:focus,
.contents.all-users-table form input:focus-visible {
  border: 1px solid var(--background-blue);
}

.contents.all-users-table .search-table {
  position: relative;
}

.search-icon button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-table {}

.search-table .search-icon {
  position: absolute;
  top: 19px;
  left: 15px;
}


table {
  font-family: 'Manrope';
}

tr {
  text-transform: capitalize
}

#all-proposal button[type="button"] {
  color: var(--text-white);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  flex-shrink: 0;
  line-height: 32px;
  width: 202px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--background-blue);
}







/* MODAL */




.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 40%;
  padding: 46px;
  min-height: 250px;
  position: absolute;
  z-index: 2;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding-top: 8rem;
}

.modal .flex {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}



.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  /* position: relative; */
  background-color: #b3e6f4;
}

.modal-container select {
  border: 1px solid black;
  border-radius: 10px;
  border: 1px solid #3F64CB;
  width: 100%;
  height: 60px;
  padding-left: 34px;

  color: var(--text-black);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
}

.modal-container input[type="text"] {
  border: 1px solid black;
  border-radius: 10px;
  border: 1px solid #3F64CB;
  width: 100%;
  height: 60px;
  padding-left: 34px;
}

.modal-container label {
  color: var(--text-black);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 16px;
  /* 22.4px */
}

.modal-container h3 {
  color: var(--text-black);
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 34px;
  /* 33.6px */
}


.modal-container .submit-proposal button {
  width: 50%;
  height: 64px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--background-blue);
  color: var(--text-white);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.attached-file input[type="file"] {
  display: none;
}




.error-text,
.error {
  color: crimson;
  font-weight: bold;
  font-family: "Manrope"
}

.error-file {
  color: crimson;
  font-weight: bold;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 50%;
  padding: 4rem 3rem;
  min-height: 250px;
  position: absolute;
  z-index: 2;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;


  min-height: 50vh;
  height: 70vh;
  overflow-y: scroll;
  padding-top: 8rem;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.hidden {
  display: none !important;
}

.tab-two {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tab-two .img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container.register-form-container form {
  gap: 16px;
  margin-top: 1rem;
}

#myButton {
  display: none;
}

.all-proposal-form-container label {
  margin-bottom: 1rem;
  display: block;
}

#proposal-title {
  margin-top: 1rem;
}



.login-form-container.otp-form-container form {
  gap: 25px;
}

.my-proposal td button {
  border-radius: 100px;
  background: var(--background-blue);
  color: var(--text-white);
  padding: 10px;
}

.action-btn {
  background: none !important;
  outline: none;
  border: none;
}

.action-div {
  position: relative;
}

.action-div-modal {
  padding: 18px;
  position: absolute;
  top: 0;
  right: 0;
  width: 188px;
  left: 60px;


  border-radius: 20px;
  background: var(--background-white);
  box-shadow: 0px 4px 10px 0px #D7E6FF;
  z-index: 10000;
}

.action-div-modal h3 {
  font-size: 16px;
  height: 102px;
}

.action-div-modal button {
  background: none !important;
  outline: none !important;
  border: none !important;
}

#feedback-textarea {
  border-radius: 10px;
  border: 1px solid #3F64CB;
  width: 100%;
  margin-top: 16px;
  padding-left: 34px;
  padding-top: 34px;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

#feedback-textarea ::placeholder {
  color: rgba(134, 146, 166, 0.38);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.pdf-flex-center {

  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  position: relative;
  width: 100%;
  height: 100%;
}

.centered-div {
  padding: 15px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#the-canvas {
  width: 100%;
}


#prev,
#next {}

.pre-nex {
  display: flex;
  gap: 10px;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.pre-nex button {
  padding: 10px 20px;
  border-radius: 10px;
  background: #3F64CB;
  color: var(--text-white);

  width: 200px;
  height: 64px;
}




/* scrollbar */

.modal {
  /* Apply custom scrollbar styles to this section */
  scrollbar-width: thin;
  scrollbar-color: #2980b9 #3498db;
}

.modal::-webkit-scrollbar {
  width: 12px;
}

.modal::-webkit-scrollbar-track {
  background-color: var(--background-white);
  /* Blue background for the track */
}

.modal::-webkit-scrollbar-thumb {
  background-color: #2980b9;
  /* Blue background for the scrollbar thumb */
  border-radius: 6px;
  /* Round the corners of the thumb */
}

.modal::-webkit-scrollbar-thumb:hover {
  background-color: #1f618d;
  /* Darker blue on hover */
}




#profile-form .profile-form-container {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 2rem;
  row-gap: 2.5rem;
}


#profile-form .input-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#profile-form input {
  height: 64px;

  color: #8692A6;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#profile-form input,
#profile-form textarea {
  border-radius: 6px;
  background: #EEF4FF;
  padding-left: 34px;
  border: none;
}

#profile-form label {
  color: #696F79;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#profile-form {
  border-radius: 20px;
  background: #FFF;
  padding: 3.5rem 6rem;
}

#profile-form .input-fields.textarea {
  grid-column: 1/-1;
}

#profile-form textarea {
  height: 157px;
  padding-top: 34px;
}


#profile-form button[type="submit"] {
  border-radius: 10px;
  background: #3F64CB;
  width: 305px;
  height: 64px;
  flex-shrink: 0;
  margin-top: 2rem;

  color: var(--text-white);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#otp-form .input {
  margin: 0 10px;
  text-align: center;
  cursor: not-allowed;
  pointer-events: none;

  width: 64px;
  height: 65px;
  border-radius: 6px;
  border: 1px solid #CDCED1;
  background: #F5F6F7;
  font-size: 35px;
  padding: 0 !important;
}

#otp-form .input:focus {
  border-bottom: 3px solid orange;
  outline: none;
}

#otp-form .input:nth-child(1) {
  cursor: pointer;
  pointer-events: all;
}

#usersTable_filter input {
  border-radius: 8px;
  background: #FFF;
}


#feedback-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


#feedback-form .label-div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}


#mobile-header {
  display: none;
}




















@media screen and (max-width: 768px) {

  #profile-form {
    margin-top: 5rem;
    padding: 3.5rem 10px;

  }

  #profile-form .profile-form-container {
    grid-template-columns: 1fr;
    gap: 2rem;
    row-gap: 1.5rem;
  }

  #mobile-title {
    display: block;
    text-align: center;
    margin: 15px 0;
    margin-bottom: 25px;
  }

  .proposal-container {
    width: 100%;
    padding: .8rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: .8rem;
  }

  .login-container .logo-image {
    display: none;
  }

  .login-container {
    padding: 0 10px;
    text-align: center;
  }

  .input-div {
    width: 100%;
  }

  .flex-between-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .login-container .login-form-container {
    padding: 10px;
  }

  .dashboard-container .contents {
    background: var(--background-white);
    position: static;
    overflow-y: scroll;
    padding: 10px 10px;
  }

  .dashboard-container header {
    position: static;
    top: 0px;
    background-color: var(--background-white);
  }

  .dashboard-container {
    background: var(--background-white);
  }

  .dashboard-container .content {
    margin-left: 0px;
  }

  .content.container {
    display: none;
  }

  #mobile-header {
    background: var(--background-blue);
    padding: 0 10px;
    display: block;
    height: 82px;
    position: fixed;
  }

  #mobile-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
  }

  #mobile-header ul a {
    color: white;
  }

  .show {
    transform: translateX(0) !important;
    z-index: 100000000 !important;
    position: fixed !important;
    transition: .65s;
    background: white !important;
    width: 264px !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  }

  .dashboard-container .sidebar {
    transform: translateX(-100%);
    position: fixed;
  }

  .sidebar.show a {
    color: var(--text-black) !important;
  }

  .sidebar.show svg path {
    stroke: #000;
  }

  .feedback-container {
    padding: 10px;
    padding-bottom: 0;
  }

  tr,
  td button {
    font-size: .7rem;
  }

  .feedback-container {
    margin-top: 5rem;
  }

  #loginForm label,
  #loginForm span {
    text-align: initial;
  }
}