* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  box-sizing: border-box;
}

:root {
  --background-blue: #15317a;
  --background-white: #ffffff;
  --text-green: #16bb13;
  --text-red: #f5112b;
  --text-blue: #213960;
  --grey-background: rgba(134, 146, 166, 0.38);
  --text-black: #000;
  --text-white: #fff;
  --text-gray: #a0aec0;
}

ul li,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Manrope;
}

a {
  text-decoration: none;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-container {
  position: relative;
}

.dashboard-container .sidebar {
  background: var(--background-blue);

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 50px 20px;
}

.dashboard-container .content {
  margin-left: 300px;
}

.dashboard-container .header {
  background: var(--background-white);
}

.dashboard-container header {
  position: fixed;
  top: 0px;
  background-color: var(--background-white);
  width: -webkit-fill-available;
  height: 90px;
  z-index: 100000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.dashboard-container .contents {
  background: var(--grey-background);
  z-index: 1;

  position: fixed;
  left: 300px;
  right: 0;
  bottom: 0;
  top: 30px;
  overflow-y: scroll;
  padding: 102px 50px;
}

h1 {
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

p {
  font-family: Manrope;
}

.sidebar .navigation ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 53px;
}

.sidebar .navigation a {
  color: var(--text-white);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header button {
  background: none;
  outline: none;
  border: none;
}

.header-profile.flex-between {
  column-gap: 20px;
}

.header-profile img {
  border-radius: 50%;
}

.user-profile h6 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.user-profile a {
  color: var(--text-gray);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.user-profile .flex-between {
  column-gap: 10px;
  position: relative;
}

.user-profile .flex-between div {
  position: absolute;

  content: "";
  width: 2px;
  height: 10px;
  background: var(--text-gray);
  top: 10;
  left: 53%;
}

.proposal-container {
  background: var(--background-white);
  /* padding: 3rem; */
  width: 100%;
  padding: 1.2rem 2rem;
  border-radius: 10px;
  backdrop-filter: blur(60px);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.proposal-flex.flex-between {
  column-gap: 3rem;
}

.flex-between.proposal-number {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: initial;
}

.proposal-container .flex-between {
  justify-content: flex-start;
  column-gap: 1rem;
}

.proposal-container .flex-between h3:nth-child(2) {
  color: var(--text-green);
}

.feedback-container {
  margin-top: 25px;
  border-radius: 20px;
  background: var(--background-white);
  backdrop-filter: blur(60px);
  padding: 1.2rem 2rem;

  padding-bottom: 0;
}

.feedback-container .feedback {
  display: flex;
  justify-content: space-between;
}

.feedback-container .feedback button {
  cursor: pointer;
  border-radius: 100px;
  background: var(--text-blue);
  width: 129px;
  height: 40px;
  color: var(--text-white);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;/
}

.feedback-title h4 {
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: var(--text-blue);
}

.feedback-title h5 {
  color: var(--text-black);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.feedback-flex {
  display: flex;
  justify-content: space-between;
}

.feedback-container .feedback {
  margin-bottom: 1rem;
}

.feed-back-users {
  border-bottom: 1px solid var(--grey-background);
  border-top: 1px solid var(--grey-background);
  padding: 2rem 0;
}

.users-number span {
  color: var(--text-black);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 166.667% */
}

.feedback-flex .users {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.feed-back-users p {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-black);
}

.feed-back-users .users h5 {
  color: var(--text-black);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.feed-back-users h6 {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Sans;
  color: var(--text-black);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 250% */
}






/* LOGIN */

.login-container {
  background: #3DDEED;
  height: 100vh;
}


.flex-between-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: center;

}

.login-container .login-form-container {
  background: var(--background-white);
  height: 100vh;
}

.login-container .logo-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--background-white);
}

.login-form-container h2 {
  color: var(--text-blue);
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login-form-container p {
  color: var(--text-gray);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;


}

.input-div {
  display: flex;
  flex-direction: column;
  width: 426px;
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 2rem;
}

.login-form-container input[type="text"],
.login-form-container input[type="password"],
.login-form-container input[type="email"],
.login-form-container input[type="number"] {
  height: 64px;
  padding-left: 2rem;
  border-radius: 6px;
  border: 1px solid var(--text-gray);
}

.login-form-container h2 {
  margin-bottom: .8rem;
}

.login-form-container label {
  font-family: 'Manrope';
  color: #696F79;
  font-size: 16px;
  margin-bottom: .6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login-form-container ::placeholder {
  color: #8692A6;
  font-family: 'Manrope';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input-div.input-div-flex {
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.input-div.input-div-flex label {
  margin: 0;
}

.input-div button {
  height: 64px;
  border-radius: 6px;
  background: var(--background-blue);
  color: var(--text-white);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  outline: none;
  border: none;
}

.login-form-container a {
  color: var(--text-gray);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1rem;
  display: block;
}

.input-div.password {
  position: relative;
}

.login-form-container .show-password {
  position: absolute;
  right: 18px;
  top: 54px;


}

.login-form-container .show-password button {
  background: none;
  outline: none;

  color: var(--text-blue);
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: auto;
}

.input-div span {
  color: var(--text-red);
  font-family: 'Inter';
  display: block;
  margin-top: 7px;
}











/* ALL USERS TABLE */

.contents.all-users-table form input {
  width: 577px;
  height: 57px;
  border-radius: 8px;
  background: var(--background-white);

  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--text-gray);
  border: none;
  caret-color: var(--text-red);
  padding-left: 50px;
}

.contents.all-users-table form input:focus,
.contents.all-users-table form input:focus-visible {
  border: 1px solid var(--background-blue);
}

.contents.all-users-table .search-table {
  position: relative;
}

.search-icon button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-table {}

.search-table .search-icon {
  position: absolute;
  top: 19px;
  left: 15px;
}


table {
  font-family: 'Manrope';
}

tr {
  text-transform: capitalize
}

#all-proposal button[type="button"] {
  color: var(--text-white);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  flex-shrink: 0;
  line-height: 32px;
  width: 202px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--background-blue);
}







/* MODAL */




.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 40%;
  padding: 46px;
  min-height: 250px;
  position: absolute;
  z-index: 2;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.modal .flex {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}



.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  /* position: relative; */
  background-color: #b3e6f4;
}

.modal-container select {
  border: 1px solid black;
  border-radius: 10px;
  border: 1px solid #3F64CB;
  width: 100%;
  height: 60px;
  padding-left: 34px;

  color: var(--text-black);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
}

.modal-container input[type="text"] {
  border: 1px solid black;
  border-radius: 10px;
  border: 1px solid #3F64CB;
  width: 100%;
  height: 60px;
  padding-left: 34px;
}

.modal-container label {
  color: var(--text-black);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 16px;
  /* 22.4px */
}

.modal-container h3 {
  color: var(--text-black);
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 34px;
  /* 33.6px */
}


.modal-container .submit-proposal button {
  width: 50%;
  height: 64px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--background-blue);
  color: var(--text-white);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.attached-file input[type="file"] {
  display: none;
}



.error-text {
  color: crimson;
  font-weight: bold;

}

.error-file {
  color: crimson;
  font-weight: bold;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 42%;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  z-index: 2;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

.tab-two {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tab-two .img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container.register-form-container form{
  gap: 16px;
  margin-top: 1rem;
}